<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Digital Shoppie</h5>
  
          <p>
            Digital Shoppie is an online electronic shop, where you can shop from a variety
            of electronic items.
            Ranging from mobile, televisions,washing machines,
            televisions and much more at best price and quality!
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Mobile</a>
            </li>
            <li>
              <a href="#!" class="text-white">Television</a>
            </li>
            <li>
              <a href="#!" class="text-white">washing machines</a>
            </li>
            <li>
              <a href="#!" class="text-white">Laptops</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Refrigerator</a>
            </li>
            <li>
              <a href="#!" class="text-white">AC</a>
            </li>
            <li>
              <a href="#!" class="text-white">HeadPhones</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cameras</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="">Digital Shoppie</a>
    </div>
  </footer>
  