<mdb-carousel >
    <mdb-carousel-item>
      <img
        src="../../../assets/img/banner1.jpg"
        class="d-block w-100"
        alt="banner1"
      />
    
    </mdb-carousel-item>
  
    <mdb-carousel-item>
      <img
        src="../../../assets/img/banner2.jpg"
        class="d-block w-100"
        alt="banner3"
      />
      
    </mdb-carousel-item>
  
    <mdb-carousel-item>
      <img
        src="../../../assets/img/banner3.jpg"
        class="d-block w-100"
        alt="banner2"
      />
    </mdb-carousel-item>
  </mdb-carousel>
<br><br>
<hr>
<h2 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;"><b>Best In Mobiles</b></h2>
<br>
<div class=container>
    <div class="row">
            <div class="col-sm-4">
                <div class="card product" style="width:18rem;">
                    <img class="card-img-top" src="../../../assets/img/m10.jpg" alt="product image" width="150" height="350">
                    <div class="card-body">
                       
                      <a routerLink="product/oneplus nord ce" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Oneplus Nord CE</h4></a>
                        <p class="card-text"><i>16.33 cm (6.43 inches) display, 4500 mAh battery
                            16 MP (f/2.45) Selfie Camera Qualcomm Snapdragon 750G 5G processor Oxygen OS 11 operating system</i></p>
                        <p class="card-text"><s style="color:red">Rs.24,000</s> <b style="color: green;"> Rs.21,999</b><br><i>(%discounted price)</i></p>
                        <a class="btn btn-primary">ADD TO CART</a>
                    </div>
                </div>
            </div>
        
    <div class="col-sm-4">
        <div class="card product" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/m1.jpg" alt="product image" width="150" height="350">
            <div class="card-body">
                <a routerLink="product/iphone 6" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Iphone 6</h4></a>
                <p class="card-text"><i>iOS 8 actualized iOS 9.2 with a Dual-core 1.4 GHz Typhoon (ARM v8-based) processor and 1 GB RAM DDR3 memory 24MP camera with 2MP3 vedio recording</i></p>
                <p class="card-text"><s style="color:red">Rs.64,000</s> <b style="color: green;"> Rs.61,999</b><br><i>(%discounted price)</i></p>
                <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card product" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/img/phone8.jpg" alt="product image" width="150" height="350">
            <div class="card-body">
                <a routerLink="product/Mi 10i 5G" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Mi 10i 5G</h4></a>
                <p class="card-text"><i>Midnight Black, 6GB RAM, 128GB Storage 108 MP Quad Rear camera with Ultra-wide Octa-core Snapdragon 750G and support for next generation 5G Network</i></p>
                <p class="card-text"><s style="color:red">Rs.25,000</s> <b style="color: green;"> Rs.23,999</b><br><i>(%discounted price)</i></p>

                    <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
        </div>
    </div>
</div>

<br><br>
<h2 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;"><b>Best In Laptops</b></h2>
<br>
<div class=container>
    <div class="row">
        <a style="text-decoration: none;">
            <div class="col-sm-4">
                <div class="card product" style="width: 18rem;">
                    <img class="card-img-top" src="../../../assets/img/lap1.jpg" alt="product image" width="150" height="350">
                    <div class="card-body">
                        <a routerLink="product/Macbook Air" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Macbook Air</h4></a>
                        <p class="card-text"><i>Apple M1 chip with 8‑core CPU, 7‑core GPU and 16‑core Neural Engine
                            8GB unified memory
                            256GB SSD storage¹
                            Retina display with True Tone
                            Magic Keyboard
                            Touch ID
                            Force Touch trackpad
                            Two Thunderbolt / USB 4 ports</i></p>
                        <p class="card-text"><s style="color:red">Rs.92,850</s> <b style="color: green;"> Rs.88,990</b><br><i>(%discounted price)</i></p>
        
                            <a href="#" class="btn btn-primary">ADD TO CART</a>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-sm-4">
            <div class="card product" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/lap3.jpg" alt="product image" width="150" height="350">
                <div class="card-body">
                    <a routerLink="product/dell latitude 7400" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Dell Latitude 7400</h4></a>
                    <p class="card-text"><i>11th Generation Intel® Core™ i7-1115G4
                        Windows 10 Pro 64-bit English
                        Integrated Intel® UHD graphics for i3-1115G4 processor with 4 GB memory
                        4 GB, 1x4 GB, 4267MHz, LPDDR4x, Non-ECC memory
                        M.2 128GB 
                        </i></p>
                    <p class="card-text"><s style="color:red">Rs.1,20,543</s> <b style="color: green;"> Rs.95,990</b><br><i>(%discounted price)</i></p>
    
                        <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card product" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/lap10.jpg" alt="product image" width="150" height="350">
                <div class="card-body">
                    <a routerLink="product/HP Pavilion" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">HP Pavilion</h4></a>
                    <p class="card-text"><i>HP 15-eg0104TX Pavilion Laptop (11th Gen Intel Core i5-1135G7/16GB/512GB PCIe-SSD/2GB Nvidia GeForce MX450 Graphics/Windows 10/MSO/FHD), 39.6 cm (15.6 inch).Windows 10 home operating system.
                        </i></p>
                    <p class="card-text"><s style="color:red">Rs.79,988</s> <b style="color: green;"> Rs.74,999</b><br><i>(%discounted price)</i></p>
    
                        <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
        </div>
        </div>
<br><br>
<h2 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;"><b>Best In Cameras</b></h2>
<br>
<div class=container>
    <div class="row">
        <div class="col-sm-4">
            <div class="card product" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/camera1.jpg" alt="product image" width="150" height="350">
                <div class="card-body">
                    <a routerLink="product/Nikon D8500" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Nikon D8500</h4></a>
                    <p class="card-text"><i>
                        Lens Type: NIKKOR 18-55mm Lens VR Lens+70-300mm VR Lens
                        Megapixel & Sensor Type: 24.2 MEGAPIXEL CMOS SENSOR
                        Auto Focus Points: 11 POINT AUTO FOCUS POINTS
                        ISO Range: ISO 100-25600
                        </i></p>
                    <p class="card-text"><s style="color:red">Rs.53,950</s> <b style="color: green;"> Rs.42,999</b><br><i>(%discounted price)</i></p>
    
                        <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card product" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/camera2.jpg" alt="product image" width="150" height="350">
                <div class="card-body">
                    <a routerLink="product/Canon eos200D" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Canon EOS 200D</h4></a>
                    <p class="card-text"><i>
                        Lens Type: Double Zoom Kit(18-55mm+55-250mm)
Megapixel & Sensor Type: 24.1 MEGAPIXEL CMOS SENSOR, DUAL PIXEL AUTO FOCUS
Auto Focus Points: 9 POINT ALL CROSS TYPE
ISO Range: ISO 100-51200
                        </i></p>
                    <p class="card-text"><s style="color:red">Rs.65,995</s> <b style="color: green;"> Rs.64,990</b><br><i>(%discounted price)</i></p>
    
                        <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card product" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/img/camera5.jpg" alt="product image" width="150" height="350">
                <div class="card-body">
                    <a routerLink="product/Sony a7" style="text-decoration: none; color: mediumvioletred;"><h4 class="card-title">Sony α7 Full Frame</h4></a>
                    <p class="card-text"><i>
                        The a7 III has been refined for extraordinary image capture control and quality from the next generation 24.2MP full-frame BSI image sensor and latest BIONZ X image processor, down to the smallest operational detail.
                        </i></p>
                    <p class="card-text"><s style="color:red">Rs.1,67,990</s> <b style="color: green;"> Rs.1,49,900</b><br><i>(%discounted price)</i></p>
    
                        <a href="#" class="btn btn-primary">ADD TO CART</a>
                </div>
            </div>
        </div>
</div>
<br>
<br>
<hr>
<router-outlet></router-outlet>