<h1 align="center" class="display-4 mb-5" style="font-family: helvetica;"><b>{{category|uppercase}}</b></h1>

<!--Product list-->
<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let p of productList">
            <div class="card product" style="width: 18rem;">
                <img class="card-img-top" src="data:image/jpeg;base64,{{p.productImage}}" alt="product image"
                    width="150" height="350">
                <div class="card-body">
                    <a href="product/{{p.model}}">
                        <h5 class="card-title">{{p.model|uppercase}}</h5>
                    </a>
                    <button type="button" class="button desc" (click)="showDescription()">Description</button>
                    <div *ngIf="flag">
                        <div class="description">
                            <p>
                                {{p.description}}
                            </p>
                        </div>
                    </div>
                    <p class="card-title"><b>Rs.{{p.price}}</b></p>
                    <button type="button" class="addToCart" >Add to cart</button>

                </div>
            </div>
            <br>
        </div>
        <br>
    </div>
</div>
<br>
<br>
<router-outlet></router-outlet>